[Unit]
Description=Auto file tracking system

[Service]
Type=simple
ExecStart=/usr/bin/cl-daemon /etc/change_log/config.json
Restart=always

[Install]
WantedBy=
